{% macro render_form_field(field) %}
<div class="mb-3">
    {% set class = "form-control is-invalid" if field.errors else "form-control" %}
    {{ field.label(class="form-label") }}
    {{ field(class=class, **kwargs)|safe }}
    <div class=invalid-feedback>
    {% if field.errors %}
      {% for error in field.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_form_radio(field) %}
<div class="mb-3">
    {% set class = "form-check-input is-invalid" if field.errors else "form-check-input" %}
    {{ field.label(class="form-label") }}
      {% for subfield in field %}
      <div class="form-check">
        {{ subfield(class="form-check-input") }}
        {{ subfield.label(class="form-check-label") }}
      </div>
      {% endfor %}
    <div class=invalid-feedback>
    {% if field.errors %}
      {% for error in field.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    {% endif %}
    </div>
</div>
{% endmacro %}