{% macro render_form_field(field) %}
<div class="mb-3">
    {% set class = "form-control is-invalid" if field.errors else "form-control" %}
    {{ field.label(class="form-label") }}
    {{ field(class=class, **kwargs)|safe }}
    <div class=invalid-feedback>
    {% if field.errors %}
      {% for error in field.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_form_radio(field) %}
<div class="mb-3">
    {% set class = "form-check-input is-invalid" if field.errors else "form-check-input" %}
    {{ field.label(class="form-label") }}
      {% for subfield in field %}
      <div class="form-check">
        {{ subfield(class="form-check-input") }}
        {{ subfield.label(class="form-check-label") }}
      </div>
      {% endfor %}
    <div class=invalid-feedback>
    {% if field.errors %}
      {% for error in field.errors %}
        <div>{{ error }}</div>
      {% endfor %}
    {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
{% if pagination.pages > 1 %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% for page in pagination.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
        {% if page %}
          {% set args = request.args.to_dict() %}
          {% set _ = args.update({'page':page}) %}
          {% if page == pagination.page %}
          <li class="page-item active">
            <a class="page-link disabled" href="#" aria-label="Current">{{ page }}</a></li>
          {% elif page == pagination.page - 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, **args) }}" aria-label="Previous">
              <span aria-hidden="true">&lang;</span>
            </a>
          </li>
          {% elif page == pagination.page + 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, **args) }}" aria-label="Next">
              <span aria-hidden="true">&rang;</span>
            </a>
          </li>
          {% elif page == 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, **args) }}" aria-label="First">
              <span aria-hidden="true">&Lang;</span>
            </a>
          </li>
          {% elif page == pagination.total %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for(endpoint, **args) }}" aria-label="Last">
              <span aria-hidden="true">&Rang;</span>
            </a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
{% endmacro %}

{% macro render_rides(rides) %}
  {% for ride in rides %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-subtitle"><small>from</small> {{ride.origin}}</h2>
        <h1 class="card-title"><small>to</small> {{ride.destination}}</h1>
        <ul>
          <li>meeting at {{ride.rendezvous}}</li>
          <li>departing at {{ride.departure_dt}}</li>
          <li>{{ride.seats_available}} seats available</li>
        </ul>
      </div>
    </div>
  {% endfor %}
{% endmacro %}