{% extends "layout.html" %}

{% block link %}
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
   <style>
       .iti.iti--allow-dropdown { width: 100% }
   </style>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form id="register-form" novalidate action="" method="POST">
        {{ form.hidden_tag() }}

        {% from "macros.html" import render_form_field, render_form_radio %}
        
        {{ render_form_field(form.first_name, placeholder="James", maxlength="50") }}
        
        {{ render_form_field(form.last_name, placeholder="Doe", maxlength="50") }}

        {{ render_form_field(form.email, placeholder="j.doe@email.com", maxlength="254") }}
        
        {{ render_form_radio(form.gender) }}

        {{ render_form_field(form.phone) }}
        
        {{ render_form_field(form.password, placeholder="Must be at least 8 characters", minlength="8", maxlength="128") }}

        {{ render_form_field(form.confirm_password, placeholder="Re-type your password") }}

        {{ form.submit(class="btn btn-primary") }}
    </form>
    <div class="d-flex justify-content-center border-top mt-2">
        <small class="text-muted text-center mt-2">
                Already have an account? <a href='{{ url_for("login", **request.args) }}'>Log In</a>
        </small>
    </div>
{% endblock %}

{% block script %}
    <script>
       const phone = document.querySelector("#phone");
       const phoneInput = window.intlTelInput(phone, {
         preferredCountries: ["ca", "us"],
         utilsScript:
           "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
       });

        // validation at submition
        const form = document.querySelector("#register-form");
        form.addEventListener("submit", (event) => {
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }
            form.classList.add('was-validated');
            
            // turn phone number into intl format before submission
            phone.value = phoneInput.getNumber()
        });

        // live validation as input changes
        form.addEventListener("input", (e) => {
            const input = e.target;
            input.checkValidity();

            // getting container when/if field is nested
            let container = input;
            while(container.parentNode != form) {
                container = container.parentNode;
            }

            container.classList.add("was-validated");
            const error = container.querySelector(`.invalid-feedback`);
            error.innerText = input.validationMessage;
        });

        phone.checkValidity = () => {
            if (!phoneInput.isValidNumber()) {
                phone.setCustomValidity('Enter a valid phonenumber');
            } else {
                phone.setCustomValidity('');
            }
        }

        const password = document.querySelector("#password");
        let re = new RegExp('^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$');
        password.checkValidity = () => {
            if (!re.test(password.value)) {
                password.setCustomValidity('Your password must have minimum eight characters, at least one upper case English letter, one lower case English letter, one number and one special character');
            } else {
                password.setCustomValidity('');
            }
            
            // update confirm password validity
            confirmation.checkValidity();
        }

        const confirmation = document.querySelector("#confirm_password");
        confirmation.checkValidity = () => {
            if (confirmation.value !== password.value) {
                confirmation.setCustomValidity('Passwords do not match');
            } else {
                confirmation.setCustomValidity('');
            }
        }
     </script>
{% endblock %}
